<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">LOJA UNIT</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="formapagamentos" class="nav-link" routerLinkActive="active">Forma de Pagamento-Listagem</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Forma de Pagamento-Cadastrar</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>Andre Barros @2021</span>
  </div>
</footer>
